[project]
	description = Google?s postal address library, powering Android and Chromium
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lararennie
[access "refs/for/refs/*"]
	read = group user/lararennie
	push = group user/lararennie
	label-Code-Review = -2..+2 group user/lararennie
	label-Verified = -1..+1 group user/lararennie
	rebase = group user/lararennie
	removeReviewer = group user/lararennie
	submit = group user/lararennie
[access "refs/heads/*"]
	read = group user/lararennie
	create = group user/lararennie
	push = +force group user/lararennie
	pushMerge = group user/lararennie
[access "refs/tags/*"]
	push = +force group user/lararennie
	pushTag = group user/lararennie
	pushSignedTag = group user/lararennie
